/* Basic CSS for the navigation bar */
nav{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

nav {
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
  }
  
  nav h1{
    color: white;
  }
  
  nav ul {
    list-style-type: none;
    color: white;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  /* Basic CSS for the form elements */
  body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
  }
  
  h1 {
    margin-bottom: 0px;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

  .explorez{
    color: white;
    font-style: bold;
    font-size: 50px;
    border: 2px solid;
    padding: 20px;
    width: 25%;
    box-sizing: border-box;
    position: relative;
    top: 150px;
    left: 100px;
}
.textePub{
    color: white;
    font-size: 15px;
    border: 2px solid red;
    padding: 15px;
    width: 20%;
    box-sizing: border-box;
    position: relative;
    top: 120px;
    left: 100px;
}