/* Basic CSS for the navigation bar */
nav{
    margin: 0;
    background-color: black;
    color: white;
    padding: 0;
    box-sizing: border-box;   
    align-items: center; 
    justify-content: space-between; 
    display: flex;

}

img {
    z-index: 1;
 }

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
  
  /* Basic CSS for the form elements */
  body {
    font-family: Arial, sans-serif;
    }
    
  h1 {
    margin-bottom: 0px;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

  .explorez{
    color: white;
    font-weight: bold;
    font-size: 50px;
    border: 2px solid;
    padding: 20px;
    width: 25%;
    box-sizing: border-box;
    position: relative;
    top: 150px;
    left: 100px;
}
.textePub{
    color: white;
    font-size: 15px;
    padding: 15px;
    width: 20%;
    position: relative;
    top: 120px;
    left: 100px;
}
.aboutus{
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 100px;
}
.entreprise{
    color:white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 100px;
    box-sizing: border-box;
    width: 50%;
}
.ourteam{
    color: white;
    font-size: 50px;
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 150px;
}
.equipe{
    color: white;
    padding-left: 200px;
}
.contact{
    color: white;
    font-size: 50px;
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 40%;
    left: 10%;
}

.div1{
    position: absolute;
    top: 40%;
    left: 40%;
    input{
        height: 10px;
        width: 300px;
    }
    textarea{
        height: 100px;
        width: 300px;
    }
}
.body{
    background-image: url("./images/vacances.jpg");
}#