/* Basic CSS for the navigation bar */
.body{
    background-image: url("./images/vacances.jpg");
}

nav{
    margin: 0;
    background-color: black;
    color: white;
    padding: 0;
    box-sizing: border-box;   
    align-items: center; 
    justify-content: space-between; 
    display: flex;

}

img {
    z-index: 1;
 }

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
  
  /* Basic CSS for the form elements */
  body {
    font-family: Arial, sans-serif;
    }
    
  h1 {
    margin-bottom: 0px;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

  .explorez{
    color: white;
    font-weight: bold;
    font-size: 50px;
    border: 2px solid;
    padding: 20px;
    width: 25%;
    box-sizing: border-box;
    position: relative;
    top: 150px;
    left: 100px;
}
.textePub{
    color: white;
    font-size: 15px;
    padding: 15px;
    width: 20%;
    position: relative;
    top: 120px;
    left: 100px;
}
.aboutus{
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 10%;
    left: 10%;
    
}
.entreprise{
    color:white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    width: 50%;
    position: absolute;
    top: 25%;
    left: 10%;
}
.ourteam{
    color: white;
    font-size: 50px;
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 35%;
    left: 15%;
}
.equipe{
    ul{
    color: white;
    position: absolute;
    top: 38%;
    left: 30%;
    }
    li{
        display: inline-block;
        width: 150px;
        a{
            padding: 5px 10px;
            font-weight: bold;
            color: white;
	        background: rgb(96, 96, 214);
            border-radius: 5px;
        }
    }
}
.contact{
    color: white;
    font-size: 50px;
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 40%;
    left: 10%;
}

.form1{
    color: black;
    position: absolute;
    top: 35%;
    left: 40%;
    input{
        background: transparent;
        height: 10px;
        width: 300px;

    }
    textarea{
        background: transparent;
        height: 100px;
        width: 310px;
    }
    button{
        padding: 7px 135px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }
}
#affichageResultat{
  position: absolute;
  top: 10%;
  left: 60%;
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
  #affichageResultat img{
    position: absolute;
    top: 10%;
    left: 60%;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }